.about-page {
  .dropdown-article-section {
    .dropdown-article {
      width: 100%;
      height: max-content;

      .dropdown-header {
        background-color: var(--clr-accent-2);

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: var(--gap-200);

        cursor: pointer;
      }

      .dropdown-body {
        display: grid;
        grid-template-rows: 0fr;

        transition: grid-template-rows 300ms;

        padding: var(--gap-200);

        .body-content {
          overflow-x: hidden;

          padding: 0px var(--gap-200);
        }
      }

      .dropdown-body--active {
        grid-template-rows: 1fr;
      }
    }
  }
}
