.news-page {
  .news-section {
    .news-list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;

      .pagination-btn {
        background-color: var(--clr-light);

        margin: 20px 0px;

        width: 40px;
        aspect-ratio: 1 / 1;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--clr-dark);

        border: 1px solid var(--clr-dark);

        &.pagination-active {
          background-color: var(--clr-primary);
        }
      }
    }
  }
}
